.bubbles {
   overflow: hidden;
   position: fixed;
   height: 100vh;
   width: 100vw;
   top: 0;
   left: 0;
   display: flex;
   z-index: 0;
}

.bubbles span {
   position: relative;
   width: 20px;
   height: 20px;
   margin: 0 20px;
   background: rgb(105, 147, 214);
   border-radius: 50%;
   box-shadow: 0 0 0 10px rgba(101, 130, 224, 0.451),
   0 0 50px rgb(101, 134, 224),
   0 0 100px rgb(101, 136, 224);
   animation: bgAnimation 15s alternate infinite;
   animation-duration: calc(350s / var(--i));
}

.bubbles span:nth-child(even) {
   animation-duration: calc(250s / var(--i));
   background: rgb(105, 147, 214);
   box-shadow: 0 0 0 10px rgba(101, 130, 224, 0.451),
   0 0 50px rgb(101, 134, 224),
   0 0 100px rgb(101, 136, 224);
   animation-duration: calc(350s / var(--i));
}

@keyframes bgAnimation {
   0% {
      transform: translateY(100vh) scale(0);
   }
   
   33% {
      transform: translateY(calc(50vh/var(--i)));
   }

   66% {
      transform: translateY(calc(var(--i) * 3vh));
   }

   100% {
      transform: translateY(0vh) scale(0);
   }
   
}

header { position: relative; top: 0; }