* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: #424242;
}

.question-area {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-block {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    animation: testBlock 1s ease;
}

@keyframes testBlock {
    0% {
        transform: translateY(3vh);
    }
    100% {
        transform: translateY(0px);
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 6vh;
}

.question-text {
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
    width: 45vw;
    max-width: 70vw;
}

.question-answers {
    display: flex;
    justify-content: space-between;
}

.button-input {
    min-width: 10%;
    padding: 20px 10px;
    font-family: 'Roboto Mono', monospace;
    font-size: 1.3vw;
    border: none;
    border-radius: 2px;
    box-shadow: 2px 2px 2px #cfcfcf;
    transition: background-color 0.3s ease;
}

.button-input-disabled {
    background-color: #424242 !important;
}

.button-input:nth-child(1) {
    background-color: #feca57;
}
.button-input:nth-child(2) {
    background-color: #ff6b6b;
}
.button-input:nth-child(3) {
    background-color: #1dd1a1;
}
.button-input:nth-child(4) {
    background-color: #48dbfb;
}

.arrow {
    font-family: 'Roboto Mono', monospace;
    color: #fff;
    font-size: 5vw;
    background: transparent;
    border: none;
    transition: transform 0.2s ease;
}

.arrow:hover {
    transform: scale(1.1);
}

.checkbox-answers {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.checkbox-input {
    width: 5vw;
    height: 5vw;
    border: none;
    background-color: #424242;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.checkbox-input:hover {
    background-color: #48dbfb;
}

.checkbox-input-selected {
    background-color: #48dbfb;
}

.checkbox-input-selected:hover {
    background-color: #424242;
}

.checkbox-answer {
    display: flex;
    align-items: center;
    gap: 2vw;
}

.checkbox-answer label {
    font-family: 'Roboto Mono', monospace;
    font-size: 2vw;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;  
}

.dragndrop-question {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2vw;
    flex-direction: column;
    display: flex;
    gap: 0.4vh;
}

.dragndrop-question-text{
    display: flex;
    align-items: center;
}

.answer-cell {
    display: inline;
}

.answer-cell {
    display: flex;
    height: 50px;
    width: 200px;
    border: 2px solid #424242;
    border-radius: 2px;
}

.dragndrop-answers {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
}

.dragndrop-answer {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2vw;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    background-color: #feca57;
    border-radius: 2px;
    border: none;
}

.cell-hide {
    display: none;
}

.dropdown-question {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2vw;
    flex-direction: column;
}

.dropdown-select-menu {
    flex-grow: 1;
}

.dropdown-selected,
/* .dropdown-select-menu, */
.dropdown-selected-answer,
.dropdown-answers {
    display: flex;
    flex-direction: column;
}

.dropdown-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50px;
    background-color: #ff6b6b;
    border: none;
}

.dropdown-answers>.dropdown-answer:nth-child(2n) {
    background-color: #5a5a5a;
}

.dropdown-answers>.dropdown-answer {
    background-color: #424242;
    transition: background-color 0.4s ease;
}


.dropdown-answers>.dropdown-answer:hover {
    background-color: #ff6b6b;
}

.dropdown-answers {
    border-top: 2px solid #fff;
    z-index: 0;
    animation: dropdown 1s ease;
}


.dropdown-answer-selected {
    z-index: 1;
}

@keyframes dropdown {
    0% {
        transform: translateY(-50px);
        filter: blur(1px);
    }
    100% {
        transform: translateY(0px);
        filter: blur(0px);
    }
}

.dropdown-hide {
    display: none;
}
